# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Model & data files
face_model.yml
labels.pkl
# Dataset
dataset/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
# Dataset
dataset/
